BowlingASP/Service References/LaneService/LaneService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BowlingService.Business" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BowlingService.Business" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="game">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lane_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lane" nillable="true" type="tns:lane" />
      <xs:element minOccurs="0" name="players" nillable="true" type="tns:ArrayOfplayer" />
      <xs:element minOccurs="0" name="turns" nillable="true" type="tns:ArrayOfturn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="game" nillable="true" type="tns:game" />
  <xs:complexType name="lane">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="games" nillable="true" type="tns:ArrayOfgame" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lane" nillable="true" type="tns:lane" />
  <xs:complexType name="ArrayOfgame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="game" nillable="true" type="tns:game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgame" nillable="true" type="tns:ArrayOfgame" />
  <xs:complexType name="ArrayOfplayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="player" nillable="true" type="tns:player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfplayer" nillable="true" type="tns:ArrayOfplayer" />
  <xs:complexType name="player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Game_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pseudo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="game" nillable="true" type="tns:game" />
      <xs:element minOccurs="0" name="turns" nillable="true" type="tns:ArrayOfturn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="player" nillable="true" type="tns:player" />
  <xs:complexType name="ArrayOfturn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="turn" nillable="true" type="tns:turn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfturn" nillable="true" type="tns:ArrayOfturn" />
  <xs:complexType name="turn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Game_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Player_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="game" nillable="true" type="tns:game" />
      <xs:element minOccurs="0" name="player" nillable="true" type="tns:player" />
      <xs:element minOccurs="0" name="throws" nillable="true" type="tns:ArrayOfthrow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="turn" nillable="true" type="tns:turn" />
  <xs:complexType name="ArrayOfthrow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="throw" nillable="true" type="tns:throw" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfthrow" nillable="true" type="tns:ArrayOfthrow" />
  <xs:complexType name="throw">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fallen_skittles" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Turn_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="number" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="turn" nillable="true" type="tns:turn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="throw" nillable="true" type="tns:throw" />
  <xs:complexType name="ArrayOflane">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lane" nillable="true" type="tns:lane" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflane" nillable="true" type="tns:ArrayOflane" />
</xs:schema>