BowlingASP/Service References/LaneService/LaneService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bowling.noip.me/LaneService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BowlingService.Business" />
  <xs:element name="isAvalaible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isAvalaibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isAvalaibleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BowlingService.Business" minOccurs="0" name="getCurrentGameResult" nillable="true" type="q1:game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BowlingService.Business" minOccurs="0" name="findResult" nillable="true" type="q2:lane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BowlingService.Business" minOccurs="0" name="findAllResult" nillable="true" type="q3:ArrayOflane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>