BowlingASP/Service References/PlayerService/PlayerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bowling.noip.me/PlayerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BowlingService.Business" />
  <xs:element name="createGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BowlingService.Business" minOccurs="0" name="players" nillable="true" type="q1:ArrayOfplayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BowlingService.Business" minOccurs="0" name="createGameResult" nillable="true" type="q2:game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BowlingService.Business" minOccurs="0" name="p" nillable="true" type="q3:player" />
        <xs:element minOccurs="0" name="gId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BowlingService.Business" minOccurs="0" name="findResult" nillable="true" type="q4:player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BowlingService.Business" minOccurs="0" name="findAllResult" nillable="true" type="q5:ArrayOfplayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BowlingService.Business" minOccurs="0" name="findGameResult" nillable="true" type="q6:game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>