BowlingASP/Service References/GameService/ServiceGame.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceGame" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bowling.noip.me/GameService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://bowling.noip.me/GameService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bowling.noip.me/GameService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BowlingService.Business" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceGame_assignToLane_InputMessage">
    <wsdl:part name="parameters" element="tns:assignToLane" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_assignToLane_OutputMessage">
    <wsdl:part name="parameters" element="tns:assignToLaneResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_createGame_InputMessage">
    <wsdl:part name="parameters" element="tns:createGame" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_createGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:createGameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_findAllfrom24H_InputMessage">
    <wsdl:part name="parameters" element="tns:findAllfrom24H" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_findAllfrom24H_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllfrom24HResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_find_InputMessage">
    <wsdl:part name="parameters" element="tns:find" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_find_OutputMessage">
    <wsdl:part name="parameters" element="tns:findResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_addPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:addPlayer" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_addPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_updateState_InputMessage">
    <wsdl:part name="parameters" element="tns:updateState" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_updateState_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceGame">
    <wsdl:operation name="assignToLane">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/assignToLane" message="tns:IServiceGame_assignToLane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/assignToLaneResponse" message="tns:IServiceGame_assignToLane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/createGame" message="tns:IServiceGame_createGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/createGameResponse" message="tns:IServiceGame_createGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findAllfrom24H">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/findAllfrom24H" message="tns:IServiceGame_findAllfrom24H_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/findAllfrom24HResponse" message="tns:IServiceGame_findAllfrom24H_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/find" message="tns:IServiceGame_find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/findResponse" message="tns:IServiceGame_find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/findAll" message="tns:IServiceGame_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/findAllResponse" message="tns:IServiceGame_findAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/addPlayer" message="tns:IServiceGame_addPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/addPlayerResponse" message="tns:IServiceGame_addPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateState">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/updateState" message="tns:IServiceGame_updateState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/updateStateResponse" message="tns:IServiceGame_updateState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceGame" type="tns:IServiceGame">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="assignToLane">
      <soap:operation soapAction="http://tempuri.org/IServiceGame/assignToLane" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createGame">
      <soap:operation soapAction="http://tempuri.org/IServiceGame/createGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllfrom24H">
      <soap:operation soapAction="http://tempuri.org/IServiceGame/findAllfrom24H" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/IServiceGame/find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/IServiceGame/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPlayer">
      <soap:operation soapAction="http://tempuri.org/IServiceGame/addPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateState">
      <soap:operation soapAction="http://tempuri.org/IServiceGame/updateState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceGame">
    <wsdl:port name="BasicHttpBinding_IServiceGame" binding="tns:BasicHttpBinding_IServiceGame">
      <soap:address location="http://bowling.noip.me/GameService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>